In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('netflix_titles.csv')
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [27]:
movies.drop(columns=['date_added', 'type', 'director', 'duration', 'listed_in', 'rating'], inplace=True)   # this becauise try more than one to drop same columns

KeyError: "['date_added', 'type', 'director', 'duration', 'listed_in', 'rating'] not found in axis"

In [24]:
movies.drop(columns=['country'], inplace=True)

In [42]:
movies.head()

,show_id,title,cast,release_year,description
1,s2,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,"After crossing paths at a party, a Cape Town t..."
2,s3,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,To protect his family from a powerful drug lor...
4,s5,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,In a city of coaching centers known to train I...
5,s6,Midnight Mass,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",2021,The arrival of a charismatic young priest brin...
6,s7,My Little Pony: A New Generation,"Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",2021,Equestria's divided. But a bright-eyed hero be...

In [39]:
movies.isnull().sum()

show_id         0
title           0
cast            0
release_year    0
description     0
dtype: int64

In [28]:
movies.shape

(8807, 5)

In [29]:
((movies.shape[0]-movies.isnull().sum())/movies.shape[0])*100

show_id         100.000000
title           100.000000
cast             90.632451
release_year    100.000000
description     100.000000
dtype: float64

In [40]:
movies.duplicated().sum()

0

In [37]:
movies.dropna(inplace=True)

In [44]:
movies['cast'] = movies['cast'].apply(lambda x : x.split( ))

In [45]:
movies['description'] = movies['description'].apply(lambda x : x.split( ))

In [47]:
movies

,show_id,title,cast,release_year,description
1,s2,Blood & Water,"[Ama, Qamata,, Khosi, Ngema,, Gail, Mabalane,,...",2021,"[After, crossing, paths, at, a, party,, a, Cap..."
2,s3,Ganglands,"[Sami, Bouajila,, Tracy, Gotoas,, Samuel, Jouy...",2021,"[To, protect, his, family, from, a, powerful, ..."
4,s5,Kota Factory,"[Mayur, More,, Jitendra, Kumar,, Ranjan, Raj,,...",2021,"[In, a, city, of, coaching, centers, known, to..."
5,s6,Midnight Mass,"[Kate, Siegel,, Zach, Gilford,, Hamish, Linkla...",2021,"[The, arrival, of, a, charismatic, young, prie..."
6,s7,My Little Pony: A New Generation,"[Vanessa, Hudgens,, Kimiko, Glenn,, James, Mar...",2021,"[Equestria's, divided., But, a, bright-eyed, h..."
...,...,...,...,...,...
8801,s8802,Zinzana,"[Ali, Suliman,, Saleh, Bakri,, Yasa,, Ali, Al-...",2015,"[Recovering, alcoholic, Talal, wakes, up, insi..."
8802,s8803,Zodiac,"[Mark, Ruffalo,, Jake, Gyllenhaal,, Robert, Do...",2007,"[A, political, cartoonist,, a, crime, reporter..."
8804,s8805,Zombieland,"[Jesse, Eisenberg,, Woody, Harrelson,, Emma, S...",2009,"[Looking, to, survive, in, a, world, taken, ov..."
8805,s8806,Zoom,"[Tim, Allen,, Courteney, Cox,, Chevy, Chase,, ...",2006,"[Dragged, from, civilian, life,, a, former, su..."
8806,s8807,Zubaan,"[Vicky, Kaushal,, Sarah-Jane, Dias,, Raaghav, ...",2015,"[A, scrappy, but, poor, boy, worms, his, way, ..."

In [48]:
movies['cast'].apply(lambda x : [ i.replace(" ", "" for i in x)])

SyntaxError: Generator expression must be parenthesized (788550319.py, line 1)

In [49]:
movies['description'].apply(lambda x : [ i.replace(" ", "" for i in x)])

SyntaxError: Generator expression must be parenthesized (3527353700.py, line 1)

In [51]:
movies['tags'] = movies['cast'] + movies['description']  # concatnate all lists and sav

In [52]:
 movies

,show_id,title,cast,release_year,description,tags
1,s2,Blood & Water,"[Ama, Qamata,, Khosi, Ngema,, Gail, Mabalane,,...",2021,"[After, crossing, paths, at, a, party,, a, Cap...","[Ama, Qamata,, Khosi, Ngema,, Gail, Mabalane,,..."
2,s3,Ganglands,"[Sami, Bouajila,, Tracy, Gotoas,, Samuel, Jouy...",2021,"[To, protect, his, family, from, a, powerful, ...","[Sami, Bouajila,, Tracy, Gotoas,, Samuel, Jouy..."
4,s5,Kota Factory,"[Mayur, More,, Jitendra, Kumar,, Ranjan, Raj,,...",2021,"[In, a, city, of, coaching, centers, known, to...","[Mayur, More,, Jitendra, Kumar,, Ranjan, Raj,,..."
5,s6,Midnight Mass,"[Kate, Siegel,, Zach, Gilford,, Hamish, Linkla...",2021,"[The, arrival, of, a, charismatic, young, prie...","[Kate, Siegel,, Zach, Gilford,, Hamish, Linkla..."
6,s7,My Little Pony: A New Generation,"[Vanessa, Hudgens,, Kimiko, Glenn,, James, Mar...",2021,"[Equestria's, divided., But, a, bright-eyed, h...","[Vanessa, Hudgens,, Kimiko, Glenn,, James, Mar..."
...,...,...,...,...,...,...
8801,s8802,Zinzana,"[Ali, Suliman,, Saleh, Bakri,, Yasa,, Ali, Al-...",2015,"[Recovering, alcoholic, Talal, wakes, up, insi...","[Ali, Suliman,, Saleh, Bakri,, Yasa,, Ali, Al-..."
8802,s8803,Zodiac,"[Mark, Ruffalo,, Jake, Gyllenhaal,, Robert, Do...",2007,"[A, political, cartoonist,, a, crime, reporter...","[Mark, Ruffalo,, Jake, Gyllenhaal,, Robert, Do..."
8804,s8805,Zombieland,"[Jesse, Eisenberg,, Woody, Harrelson,, Emma, S...",2009,"[Looking, to, survive, in, a, world, taken, ov...","[Jesse, Eisenberg,, Woody, Harrelson,, Emma, S..."
8805,s8806,Zoom,"[Tim, Allen,, Courteney, Cox,, Chevy, Chase,, ...",2006,"[Dragged, from, civilian, life,, a, former, su...","[Tim, Allen,, Courteney, Cox,, Chevy, Chase,, ..."
8806,s8807,Zubaan,"[Vicky, Kaushal,, Sarah-Jane, Dias,, Raaghav, ...",2015,"[A, scrappy, but, poor, boy, worms, his, way, ...","[Vicky, Kaushal,, Sarah-Jane, Dias,, Raaghav, ..."

In [53]:
dataset = movies[['show_id','title','release_year','tags']]

In [60]:
dataset['tags'] = dataset['tags'].apply( lambda x : " ".join(x))   # convert all sets into string in tags

C:\Users\tonys\AppData\Local\Temp\ipykernel_9540\1777655373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['tags'] = dataset['tags'].apply( lambda x : " ".join(x))

In [61]:
dataset['tags'][1]

'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.'

In [62]:
dataset['tags'] = dataset['tags'].apply( lambda x : x.lower())  # make all tags in lower case.

C:\Users\tonys\AppData\Local\Temp\ipykernel_9540\1448900680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['tags'] = dataset['tags'].apply( lambda x : x.lower())

In [63]:
dataset['tags'][1]

'ama qamata, khosi ngema, gail mabalane, thabang molaba, dillon windvogel, natasha thahane, arno greeff, xolile tshabalala, getmore sithole, cindy mahlangu, ryle de morny, greteli fincham, sello maake ka-ncube, odwa gwanya, mekaila mathys, sandi schultz, duane williams, shamilla miller, patrick mofokeng after crossing paths at a party, a cape town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.'

In [77]:
dataset.shape

(7982, 4)

In [85]:
from nltk.stem.porter import PorterStemmer
po = PorterStemmer()

In [86]:
def stem(text):
    y = []
    for i in text.split():
        y.append(po.stem(i))

    return " ".join(y)

In [88]:
dataset['tags'] = dataset['tags'].apply(stem)

C:\Users\tonys\AppData\Local\Temp\ipykernel_9540\3251655008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['tags'] = dataset['tags'].apply(stem)

In [89]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=7982, stop_words= "english")

In [90]:
vectores = cv.fit_transform(dataset['tags']).toarray()

In [92]:
vectores

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [93]:
from sklearn.metrics.pairwise import cosine_similarity

In [95]:
similarity = cosine_similarity(vectores)

In [96]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.08703883, ..., 0.04351941, 0.        ,
        0.21997067],
       [0.        , 0.08703883, 1.        , ..., 0.04545455, 0.0805823 ,
        0.11487594],
       ...,
       [0.        , 0.04351941, 0.04545455, ..., 1.        , 0.04029115,
        0.        ],
       [0.        , 0.        , 0.0805823 , ..., 0.04029115, 1.        ,
        0.        ],
       [0.        , 0.21997067, 0.11487594, ..., 0.        , 0.        ,
        1.        ]])

In [104]:
def recommend(movie):
    movie_index = dataset[dataset['title'] == movie].index[0]  
    distances = similarity[movie_index]
    movies_list = sorted( list( enumerate(distances)), reverse=True, key = lambda x : x[1])[1:6]

    for i in movies_list:
        print(dataset.iloc[i[0]].title)

In [114]:
recommend('Zodiac')

IndexError: index 8802 is out of bounds for axis 0 with size 7982

In [106]:
import pickle

In [112]:
pickle.dump(dataset, open('movies_dict.pkl','wb'))

In [108]:
 dataset['title'].values

array(['Blood & Water', 'Ganglands', 'Kota Factory', ..., 'Zombieland',
       'Zoom', 'Zubaan'], dtype=object)

In [109]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))